<!DOCTYPE html>
<html>
<head>
	<title>JIT Search</title>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/coffee-script/1.1.2/coffee-script.min.js"></script>
	<script src="http://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
	<script src="js/lib/date-us.js"></script>
	<script src="js/lib/raphael-min.js"></script>
	<script src="js/jitsearch.coffee" type="text/coffeescript"></script>
	<link rel="stylesheet" href="/css/style.css">
	<script>
		$(document).ready(function(){
			$('#txtWantedSkills').focus();
		});
	</script>
</head>
<body>
	<div id="container">
		<div id="search">
			Find: <input type="text" id="txtWantedSkills" placeholder="" />
			skills <abbr title="Just In Time">JIT</abbr> for
			<input type="text" id="txtJitDate" />
			<input id="btnSearch" type="button" value="GO" />
		</div>
		<div id="filters" class="clearfix">
			<div id="jitDateFilter" class="filter hide">
				<span></span>
				<a href="#" class="removeFilter">&nbsp;</a>
			</div>
		</div>
		<div id="items"></div>
	</div>

	<script id="itemTemplate" type="text/x-jQuery-tmpl">
        <div class="item clearfix">
            <img src="${image}" width="48" height="48" alt="${name}" />
			<div class="item-content">
				<span class="name">${name}</span>&nbsp;<span class="contact-info">${mobile}</span>
				<div class="skills">${skills}</div>
				<div>
				{{each utilization}}
						{{if $value.hours == '0'}}
							<span class="no-cash" title='${$value.date.toString("ddd dd MMM")}'>${$value.hours}</span>
						{{/if}}
						{{if $value.hours == ''}}
							-
						{{/if}}
						{{if $value.hours > 0}}
							<span class="cash"  title='${$value.date.toString("ddd dd MMM")}'>$</span>
						{{/if}}
				{{/each}}
					<svg width="515" height="30">
						<line x1="0" y1="0"
							  x2="515" y2="0"
							  stroke="cyan"
							  stroke-width="2" />
						<line x1="113" y1="1"
							  x2="113" y2="5"
							  stroke="cyan"
							  stroke-width="2" />
						<text x="113" y="15" font-size="11" text-anchor="middle" fill="cyan">Sun 9 Oct</text>
					</svg>
				</div>
            	<div class="contact-info"><a href="mailto:${email}">${email}</a></div>
			</div>
        </div>
    </script>
</body>
</html>