<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>JIT Search</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/coffee-script/1.1.2/coffee-script.min.js"></script>
	<script src="http://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
	<script src="js/lib/date-us.js"></script>
	<script src="js/lib/raphael-min.js"></script>
	<script src="js/jitsearch.coffee" type="text/coffeescript"></script>
	<link rel="stylesheet" href="/css/style.css">
	<script>
		$(document).ready(function(){
			$('#txtWantedSkills').focus();
		});
	</script>
</head>
<body>
<div id="wrapper" class="clearfix">
	<div id="container">
		<div id="search">
			Find: <input type="text" id="txtWantedSkills" placeholder="" />
			skills <abbr title="Just In Time">JIT</abbr> for
			<input type="text" id="txtJitDate" />
		</div>
		<div id="filters" class="clearfix">
			<div id="jitDateFilter"></div>
			<div id="jitSkillFilters"></div>
			<div id="organizationFilter"></div>
		</div>
		<div id="items"></div>
	</div>
	<div id="sidebar">
		<div id="organization" class="clearfix">
			<h3>Departments</h3>
			<div id="departments"></div>
			<div id="teams"></div>
		</div>
		<div id="marketplace">
			<h3>Marketplace</h3>
		</div>
	</div>
</div>

	<script id="itemTemplate" type="text/x-jQuery-tmpl">
        <div class="item clearfix">
            <img src="${image}" width="48" height="48" alt="${name}" />
			<div class="item-content">
				<span class="name">${name}</span>
				<div>
					<span class="contact-info">${mobile}&nbsp;|&nbsp;<a href="mailto:${email}">${email}</a></span>
				</div>
				<div class="skills">${skills}</div>
				<div class="utilization">
				{{each utilization}}
						{{if $value.hours == '0'}}
							<span class="no-cash" title='${$value.date.toString("ddd dd MMM")}'>${$value.hours}</span>
						{{/if}}
						{{if $value.hours == ''}}
							-
						{{/if}}
						{{if $value.hours > 0}}
							<span class="cash"  title='${$value.date.toString("ddd dd MMM")}'>${$value.hours}</span>
						{{/if}}
				{{/each}}
					<svg width="515" height="24">
						<line x1="0" y1="0"
							  x2="515" y2="0" />
						<polyline points="128,1 131,5 134,1" />
						<text class="jitDate" x="131" y="17"></text>
					</svg>
				</div>
			</div>
        </div>
    </script>
</body>
</html>